.label {
    color: #fff;
}


.profileIcon {
    color: #fff;
}


.formTitle {
    color: #fff;
}

.bg-action-secondary{
    background-color: #ff9d00;
}

/* .container {
    border: 2px solid #fff;
    border-radius: 5px;
} */

